:root {
    --dark-color: rgb(0, 0, 0);
    --Light-color: rgb(233, 229, 229); 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background: var(--dark-color);
    color: white;
    width: 75%;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    clip-path: polygon(0% 15%, 0 0, 15% 0%, 85% 0%, 100% 0, 100% 15%, 100% 60%, 68% 72%, 44% 81%, 10% 93%, 0 100%, 0% 85%);
}

main {
    width: 75%;
    height: 85vh;
    margin: 0 auto;
    background-color: var(--Light-color);
    padding: 8rem 2rem 3rem 2rem;/*top right bottom left*/
    margin-top: -5rem;
    text-align: justify;
}

img {
    width: 300px;
    float: right;
    margin-left: 1rem;
    margin-bottom: 1rem;
    margin-top: 2rem;
}

.footer {
    width: 75%;
    margin: 0 auto;
    background: var(--dark-color);
    color: var(--light-color);
    text-align: center;
    padding: 3rem;
}